html, body {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.general {
    background-image: url(./background.png);
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 40px;
    margin-bottom: 300px;
}


.logo img {
    width: 113px;
}

.nav {
    display: inline-block;
    margin-left: 500px;
    
}

a {
    text-decoration: none;
    color: white;
    padding: 8px;
}

 .nav-link {
     border: 1px solid transparent;

 }
.nav-link:hover {
   border: 1px solid white;
   border-radius: 30px;

}


.content {
    text-align: center;
}

.content-tittle {
    text-transform: uppercase;
    letter-spacing: 11px;
}

.content-description {
    width: 600px;
    margin: auto;
    margin-bottom: 200px;
}

.btn-scroll {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background-color: rgb(35, 153, 128);
    background-image: url(./img/arrow.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-scroll-container {
    text-align: center;
}